/* Journey to the Center of the Earth Practicum*/
/* Shane Blazovic*/

header{

    text-align: center;
    font-size: 25px;
    color: white;
    padding: 30px;
    background-image: url(/img/cave.jpg);
    grid-area: header;
}

nav{
    border: 3px solid #886644;
    text-align: center;
    box-shadow: inset 3px 3px 10px 5px #000;
    background-color: lightgray;
    
    
    
}

nav a:link{ 
    
    color:black;
    text-decoration: none;

}

nav a:hover {

    color: #a52a2a;
    text-decoration: underline;
}

nav a:active {

    color: black;
    text-decoration: none;

}

nav a:visited{

    color:#a52a2a;
    text-decoration: underline;

}

[lang=fr], [lang=is], [lang=it]{

    font-style: italic;
}

nav li{

    padding: 10px;
    display: inline-block; /* https://css-tricks.com/snippets/css/cross-browser-inline-block/ */
    
}

main{

    background-color: lightgray;
    box-shadow: inset 3px 3px 10px 5px;
    border: 3px solid #886644;
    margin-top: 1px;
    
}

main h2{

    border-bottom: dotted;
    padding: 20px;
}

aside{

    background-color: lightgrey;
    padding: 10px;
    color: #000;
    box-shadow: inset 3px 3px 10px 5px #000;
    border: 3px solid #886644;
    

   
}

.submission{
    border: 3px solid black;
    padding: 10px;
    margin: 6px;
    background-color: white;
}

.opinion{
    padding: 10px;
}

.signature{
    text-align: center;
    font-style: italic;
}



aside h2{

    border-bottom: dotted;
}



#cover{ 

word-wrap: normal;
float: left;
width: 300px;
padding: 5px;
}




footer{

    background-color: lightgrey;
    border: 3px solid #886644;
    text-align: center;
    box-shadow: inset 3px 3px 10px 5px #000;
    margin-top: 1px;
    
}

body{

    background-image: linear-gradient(to bottom, #765729, #000);
    display: grid;

    /*
    grid-template-areas: "header" "nav" "main" "bob" "footer";
    grid-template-columns: 1fr;
    */

    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header" 
        "nav nav" 
        "main bob" 
        "footer footer";

}

header {
    grid-area:header;
}
nav {
    grid-area:nav;
}
main {
    grid-area:main;
}
aside {
    grid-area:bob;
}
footer {
    grid-area:footer;
}


#cryptogram{

    text-align: center;
}

figcaption {

font-style: italic;

}

.character{
    font-weight: bold;
}







